@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");

/* Nama: Valentio Stanley Gunadi
NIM: 2540096011 */

/* Global */
*{
    font-size: 25px;
    margin: 0;
    padding: 0;
}

:root{
    font-family: Malgun Gothic, sans-serif;
    --logo-font: 'Oleo Script Swash Caps', cursive;
}

.background{
    background-image: url("../assets/fishbackground.png");
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    background-color: rgba(104, 165, 246, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.nav-textlogo a{
    font-weight: bold;
    font-family: var(--logo-font);
    font-size: 48px;
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.nav ul li{
    list-style-type:none;
    text-align: right;
    display: inline;
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

/* Greeting */

.title-greeting u {
    font-family: var(--logo-font);
    font-size: 64px;
    text-align: center;
    color: #fff;
}

.title-greeting{
    text-align: center;
    color: #fff;
}

/* Fish Content */
.container{
    margin: 0px 150px;
    background-color: rgba(255,255,255, 0.2);
}

.content{
    display: flex;
    flex-direction: column;
}

.arowana {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 0;
}

.container-card{
    display: flex;
}

.fish-card{
    margin: 1rem;
    width: 50%;
    color: #fff;
}

.pict-fish{
    display:flex;
    flex-direction: column;
}
.pict-fish p{
    text-align: justify;
    padding: 0px 30px;
}

.bottom-text{
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 1rem 0;
}
.margin-text{
    margin: 0 100px;
}

/* Hover image in the content*/

.pict-fish {
    position: relative;
    width: 100%;
}

.pict-fish .fish-img {
    display: block;
    width: 100%;
}

.background-hover{
    position: absolute;
    top: 11.3rem;
    bottom: 0;
    height: 6vh;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.background-hover > * {
    transform: translateY(0px);
    transition: transform 0.25s;
}

.background-hover:hover > * {
    transform: translateY(0px);
}

.pict-fish:hover .background-hover {
    opacity: 1;
}

.hover-text p{
    color: white;
    text-align: center;
}

/* Footer */

.footer{
    background-color: #1C57A6;
}

.footer-textlogo{
    font-family: var(--logo-font);
    text-align: center;
    color: #fff;
}
.footer-left .description-logo{
    display: flex;
}
.description-logo p {
    color: #fff;
    margin-left: 1rem;
}

.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-content > *{
    margin: 1rem 2rem;
}

/* Media Social Account */

.contact-us{
    display:flex;
    justify-content:center;
    align-items: center;
    color: #fff;
    margin-right: 1rem;
}
.logo-contactus a{
    display: flex;
    color: #fff;
    text-decoration: none;
}
.icon{
    display:flex;
    align-items: center;
}
.icon p{
    margin-left: .5rem;
}